if ! which mpicc mpirun >/dev/null && ! which openmpicc openmpirun >/dev/null; then
  RUN=0
elif which mpirun >/dev/null; then
  function run {
    local nodes=`cat ${1%/*}/nodes`
    mpirun -np $nodes $1 -i $2 -o $3
  }
elif which openmpirun >/dev/null; then
  function run {
    local nodes=`cat ${1%/*}/nodes`
    openmpirun -np $nodes $1 -i $2 -o $3
  }
fi
if [ ! -f ${SNET_LIBS}/libtblpel.la ]; then
  RUN=0
fi

SNETTESTFLAGS="-distrib mpi -threading lpel"
